.calculadora {
  justify-content: center;
}

body {
  text-align: center;
  font-family: arial, sans-serif;
}

h3 {
  font-size: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  text-align: center;
}


ul li {
  background: #eee;
  font-size: 18px;
  text-align: center;
  font-family: Arial, sans-serif;
  text-align: center;
}
