body {
  text-align: center;
  font-family: arial, sans-serif;
  background-color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculadora {
  justify-content: center;
}

h3 {
  font-size: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  text-align: center;
}

ul li {
  background: #eee;
  font-size: 18px;
  text-align: center;
  font-family: Arial, sans-serif;
  text-align: center;
}

#caixanumerodigitado{
  background: #eee;
  font-size: 60px;
  text-align: center;
  font-family: Arial, sans-serif;
  text-align: center;
  size: 5;
}

.contador {
  font-size: 5em;
}
